<form class="form1" method="POST">
    <div>
        <h3>Login</h3>
    </div>
    <div>
        <label for="username">Login</label>
        <input id="username" type="text" placeholder="Login" name="login" autocomplete="off">
    </div>
    <div class="mb-6">
        <label for="password">Password</label>
        <input id="password" type="text" placeholder="Password" name="pass" autocomplete="off">
    </div>
    <div style="margin: 15px 0; text-align: center;">
        <button class="btn btn-1" type="submit">Login</button>
        <a class="btn btn-1" href="/registr">Registration</a>
    </div>
</form>