<title><%= title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/vue.js"></script>
<style>
    .table td, .table th {
        vertical-align: middle;
    }
    .col-form-label {
        text-align: right;
    }
</style>